<div>
    <iframe width="300" height="500" src="https://twitter.com/SadhguruJV" frameborder="0" allowfullscreen></iframe>
<!-- <p>ang-tweet works!</p>
<ngx-twitter-timeline
  [source]="{sourceType: 'profile', screenName: 'rajharshaabi'}"
  [options]="{height: '700'}" (onLoad)="onLoad($event)">
</ngx-twitter-timeline>

<hr/>
<ngx-twitter-share
  [url]="'https://twitter.com/makavana_romik'"
  [options]="{ size: 'large', text: 'I am Romik Makavana' }" (onLoad)="onLoad($event)">
</ngx-twitter-share> -->
<!--<ngx-tweet tweetId="921670221710032896"></ngx-tweet> -->
</div>
